#content {
  width: calc(100vw - 200px);
  min-height: 100vh;
  position: relative;
  left: 200px;
  transition: all 200ms ease;
  @media(max-width: 700px) {
    width: 100vw;
    left: 0;
  }
  &.pink {
    background: rgba(250,165,165,1);
    background: linear-gradient(45deg, rgba(250,165,165,1) 0%, rgba(133,127,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#faa5a5", endColorstr="#857fe2", GradientType=1);
  }
  &.green {
    background: rgba(0,135,68,1);
    background: linear-gradient(45deg, rgba(0,135,68,1) 0%, rgba(31,59,8,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#008744", endColorstr="#1f3b08", GradientType=1 );
  }
  &.blue {
    background: rgba(147,206,222,1);
    background: linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#93cede", endColorstr="#49a5bf", GradientType=1);
  }
  &.yellow {
    background: rgba(241,231,103,1);
    background: linear-gradient(45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f1e767", endColorstr="#feb645", GradientType=1 );
  }
  &.grey {
    background: rgba(219,219,219,1);
    background: linear-gradient(45deg, rgba(219,219,219,1) 0%, rgba(226,226,226,1) 44%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#dbdbdb", endColorstr="#fefefe", GradientType=1 );
  }
  &.red {
    background: #DC3D24;
  }
  &.black {
    background: #19191a;
  }

  &.about {
    padding: 50px;
    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.3rem;
      line-height: 2.3rem;
    }
  }
}
