.nav-toggle {
  background: $color5;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  padding: 10px;
  box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.3);
  border-radius: 0 0 5px 0;
  cursor: pointer;
  transition: all 200ms ease;
  @media(min-width: 700px) {
    display: none;
  }
  &.active {
    left: 200px;
  }
  &:hover {
    svg {
      rect {
        fill: $color1;
      }
    }
  }
  svg {
    rect {
      fill: $color4;
    }
  }
}

#navigation {
  width: 200px;
  height: 100vh;
  position: fixed;
  box-shadow: 2px 0 30px rgba(0,0,0,0.3);
  background: $color5;
  z-index: 5;
  transition: all 200ms ease;

  @media(max-width: 700px) {
    left: -200px;
    &.active {
      left: 0px;
      //display: block;
    }
  }

  #logo {
    text-decoration: none;
    svg {
      margin: 0 auto;
      width: 75px;
      position: relative;
      margin: 10% 0 5% 0;
      left: calc(50% - (75px / 2));
      @media(max-height: 780px) {
        width: 45px;
        height: 50px;
        left: calc(50% - (45px / 2));
        margin: 10% 0 2% 0;
      }
    }
    h1 {
      text-align: center;
      font-size: 1.5rem;
      color: $color4;
      @media(max-height: 780px) {
        font-size: 1.3rem;
        margin: 0;
      }
      span {
        font-size: 1.2rem;
        color: lighten($color4, 40%);
        @media(max-height: 780px) {
          font-size: 1rem;
        }
      }
    }
  }

  nav {
    margin: 30px 0;
    @media(max-height: 780px) {
      margin: 15px 0;
    }
    a {
      display: block;
      font-size: 1.1rem;
      margin: 0 30px;
      padding: 10px 0;
      text-decoration: none;
      color: lighten($color4, 25%);
      transition: all 150ms ease;
      @media(max-height: 780px) {
        margin: 0 40px;
        padding: 7px 0;
      }
      &:hover {
        color: $color4;
      }
    }
  }


}
